.nav-icon {
  font-size: 40px;
  margin: 10px;
}

.nav-item {
  color: black;
}

#hero-image {
  height: 50%;
  width: 50%;
}

body {
  /* background-color: rgba(255, 0, 0, 0.1); */
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.05em;
}

p {
  line-height: 2em;
}

a {
  color: olive;
}

img {
  box-shadow: 5px 5px 5px #ccc;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  -khtml-box-shadow: 5px 5px 5px #ccc;
}

h4 {
  text-shadow: 2px 2px 2px #ccc;
  -moz-text-shadow: 2px 2px 2px #ccc;
  -webkit-text-shadow: 2px 2px 2px #ccc;
  -khtml-text-shadow: 2px 2px 2px #ccc;
}

a:hover {
  text-decoration: none;
  transform: translateY(-1px);
  transition: 0.15s ease;
}

.transform {
  transition: 0.15s ease;
  padding: 10px;
  font-size: 15px;
  border-radius: 4px;
  outline: none;
}

.transform:hover {
  transform: translateY(-1px);
}

.transform:active {
  transform: translateY(1px);
}
